@model Student

@{
    ViewData["Title"] = "FormData";
}

<h1>Ajax with FormData using FormData method</h1>


<form id="StudentFormData" class="container mt-5">
    <div class="form-group">
        <label for="std_Id" class="form-label">Student Id</label>
        <input type="text" id="std_Id" name="std_Id" class="form-control" placeholder="Enter your student Id">
        <span asp-validation-for="std_Id" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="Name" class="form-label">Name</label>
        <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter your Name">
        <span asp-validation-for="Name" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="Age" class="form-label">Age</label>
        <input type="text" id="Age" name="Age" class="form-control" placeholder="Enter your Age">
        <span asp-validation-for="Age" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="Email" class="form-label">Email</label>
        <input type="text" id="Email" name="Email" class="form-control" placeholder="Enter your Email">
        <span asp-validation-for="Email" style="color: red;"></span>
    </div>


    <div class="form-group mt-2">
        <button type="submit">Submit</button>

    </div>
</form>






<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#StudentFormData").submit(function (event) {
            event.preventDefault(); //event.preventDefault() is used to stop the default action of an event from happening.
                                    //For example, in a form submission, it stops the form from reloading the page. 
                                    //This lets you control what happens when the event occurs, so you can add your own custom behavior.
            var form = document.getElementById('StudentFormData');
            var formData = new FormData(form);
            console.log(formData);
            $.ajax({
                url: '/Home/FormData',
                type: 'POST',
                data: formData,
                processData: false,  // Prevents jQuery from processing the data because we don't want to change the file. if it is true convert data Object into query string.
                contentType: false, // if I Set it true then it will not work for File uploading. It will
                                                             // automatically Set the contentType.
                success: function (response) {
                    console.log('Success: ', response);
                    alert('Successfull');
                    window.location.href = '/Home/GetAll';
                },
                error: function (xhr, status, error) {
                    console.error('Error: ', error);
                    alert('Failed');
                }
            });

        });
    });
</script>