@model Student

@{
    ViewData["Title"] = "SerializedJSON";
}

<h1>Ajax with SerializedFormJSON</h1>

<form id="StudentSerializedJSON" mehod="post" class="container mt-5">
    <div class="form-group">
        <label for="std_Id" class="form-label">Student Id</label>
        <input type="text" id="std_Id" name="std_Id" class="form-control" placeholder="Enter your student Id">
        <span asp-validation-for="std_Id" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="Name" class="form-label">Name</label>
        <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter your Name">
        <span asp-validation-for="Name" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="Age" class="form-label">Age</label>
        <input type="text" id="Age" name="Age" class="form-control" placeholder="Enter your Age">
        <span asp-validation-for="Age" style="color: red;"></span>
    </div>

    <div class="form-group">
        <label for="Email" class="form-label">Email</label>
        <input type="text" id="Email" name="Email" class="form-control" placeholder="Enter your Email">
        <span asp-validation-for="Email" style="color: red;"></span>
    </div>


    <div class="form-group mt-2">
        <button type="button" id="submitbtn">Submit</button>

    </div>


</form>






<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        $("#submitbtn").click(function () {
            var data = {
                std_Id: $("#std_Id").val(),
                name: $("#Name").val(),
                Age: parseInt($("#Age").val()),
                Email: $("#Email").val()
            };

            console.log(data);

            $.ajax({
                url: '/Home/SerializedJSON',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (response, status, xhr) {
                    console.log('Success: ', response);
                    alert('Successfull');
                    window.location.href = '/Home/GetAll';
                },
                error: function (req, status, error) {
                    console.error('Error: ', error);
                    alert('Failed');
                }
            });

        });
    });
</script>
 


